@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$gris-claro;

    &__header{
        background-color: v.$gris-oscuro;
        padding: 2rem;
    }

    &__header--grid{
        display: flex;
        flex-direction: column;
        @include m.tablet{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo{
        @include m.logo;
        @include m.texto-fluido(2rem, 3rem);
    }

    &__nav{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    &__form{
        
    }

    &__submit--logout{
        @include m.enlace
    }

    &__grid{
        display: flex;
        flex: 1;
    }

    &__sidebar{
        background-color: lighten(v.$gris-oscuro, 10);
        width: 12rem;
    }

    &__menu{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__enlace{
        color: lighten(v.$gris-oscuro, 50);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.8rem;
        transition: 300ms background-color ease-in-out, 300ms color ease-in-out, 300ms border-radius ease-in-out;

        &:hover,
        &--actual{
            background-color: lighten(v.$gris-oscuro, 25);
            color: v.$blanco;
            border-radius: 1rem;
        }
    }

    &__icono{
        font-size: 2rem;
    }

    &__menu-texto{
        font-size: 1.3rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: v.$bold;
        margin-top: .5rem;
    }

    &__contenido{
        padding: 1rem 1rem 3rem 1rem;
        width: 100%;
        @include m.tablet{
            padding: 1rem 5rem 3rem 5rem;
        }
    }
}